.badge-primary {
    color: #fff;
    background-color: #727cf5;
}
a.badge-primary:hover,
a.badge-primary:focus {
    color: #fff;
    background-color: #4250f2;
}
a.badge-primary:focus,
a.badge-primary.focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(114, 124, 245, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(114, 124, 245, 0.5);
}

.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}
a.badge-secondary:hover,
a.badge-secondary:focus {
    color: #fff;
    background-color: #545b62;
}
a.badge-secondary:focus,
a.badge-secondary.focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.badge-success {
    color: #fff;
    background-color: #0acf97;
}
a.badge-success:hover,
a.badge-success:focus {
    color: #fff;
    background-color: #089e74;
}
a.badge-success:focus,
a.badge-success.focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(10, 207, 151, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(10, 207, 151, 0.5);
}

.badge-info,
.badge-warning,
.badge-danger,
.badge-dark {
    color: #fff;
}
