$hex-secondary: #c8ced3;
$hex-dark: #2f353a;
$hex-success: #4dbd74;
$hex-danger: #f86c6b;
$hex-white: #ffffff;
$hex-gray400: #acb4bc;
$hex-gray100: #f0f3f5;
$hex-gray500: #8f9ba6;

.multiselect,
.multiselect_input,
.multiselect_single {
    font-family: inherit;
    font-size: 16px;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
.multiselect {
    box-sizing: content-box;
    display: block;
    position: relative;
    width: 100%;
    min-height: 40px;
    text-align: left;
    color: $hex-dark;
    > .multiselect_select {
        line-height: 16px;
        box-sizing: border-box;
        display: block;
        margin: 0;
        text-decoration: none;
        cursor: pointer;
        position: absolute;
        width: 40px;
        height: 38px;
        right: 1px;
        top: 1px;
        padding: 4px 8px;
        text-align: center;
        transition: transform 0.2s ease;
        &::before {
            position: relative;
            right: 0;
            top: 65%;
            color: $hex-secondary;
            margin-top: 4px;
            border-style: solid;
            border-width: 5px 5px 0;
            border-color: $hex-secondary transparent transparent;
            content: '';
        }
    }
    > .multiselect_tags {
        min-height: 40px;
        display: block;
        padding: 8px 40px 0 8px;
        border-radius: 5px;
        border: 1px solid $hex-secondary;
        background: $hex-white;
        font-size: 14px;
        .multiselect_single,
        .multiselect_input {
            position: relative;
            display: inline-block;
            min-height: 20px;
            line-height: 20px;
            border: none;
            border-radius: 5px;
            background: $hex-white;
            padding: 0 0 0 5px;
            width: 100%;
            transition: border 0.1s ease;
            box-sizing: border-box;
            margin-bottom: 8px;
            vertical-align: middle;
            cursor: default;
            &.allow {
                cursor: text;
            }
            &:focus {
                border-color: $hex-gray400;
                outline: none;
            }
            &:hover {
                border-color: $hex-gray400;
            }
        }
        .multiselect_single {
            padding-left: 5px;
            margin-bottom: 8px;
        }
    }
    > .multiselect_content-wrapper {
        position: absolute;
        background: $hex-white;
        width: 100%;
        max-height: 240px;
        overflow: auto;
        border: 1px solid $hex-secondary;
        -webkit-overflow-scrolling: touch;
        top: 100%;
        margin-top: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-radius: 5px;
        border-top: 1px solid $hex-secondary;
        z-index: 999;
        display: none;
        transition: top 0.3s, bottom 0.3s;
        transition: top 0.3s, bottom 0.3s;
        .multiselect_content {
            list-style: none;
            display: inline-block;
            padding: 0;
            margin: 0;
            min-width: 100%;
            vertical-align: top;
            .multiselect_element {
                display: block;
                transition: background-color 0.1s;
                .multiselect_option {
                    display: block;
                    padding: 12px;
                    min-height: 40px;
                    line-height: 16px;
                    text-decoration: none;
                    text-transform: none;
                    position: relative;
                    cursor: pointer;
                    white-space: nowrap;
                    user-select: none;
                    &:after {
                        top: 0;
                        right: 0;
                        position: absolute;
                        line-height: 40px;
                        padding-right: 12px;
                        padding-left: 20px;
                        font-size: 12px;
                        color: $hex-dark;
                        font-weight: 700;
                    }
                    &.multiselect_option-highlight {
                        background: $hex-success;
                        &:after {
                            content: attr(data-select);
                            color: $hex-white;
                        }
                    }

                    &.multiselect_option-selected {
                        background: $hex-gray100;
                        &:after {
                            content: attr(data-selected);
                            color: $hex-gray500;
                        }
                    }
                    &.multiselect_option-highlight {
                        &.multiselect_option-selected {
                            background: $hex-danger;
                            &:after {
                                content: attr(data-deselect);
                                color: $hex-white;
                            }
                        }
                    }
                    &:hover {
                        background-color: $hex-success;
                        color: $hex-white;
                        &:after {
                            color: $hex-white;
                        }
                    }
                }
            }
        }
    }
    &.multiselect-active {
        .multiselect_select {
            transform: rotate(180deg);
        }
        .multiselect_tags {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        > .multiselect_content-wrapper {
            display: block;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
    &.multiselect-above {
        .multiselect_tags {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        > .multiselect_content-wrapper {
            top: inherit;
            bottom: 100%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    &.disabled {
        .multiselect_tags,
        .multiselect_single {
            background: $hex-secondary;
            opacity: 0.8;
        }
    }
}
